# Database - Neon PostgreSQL
DATABASE_URL="postgresql://neondb_owner:npg_q6ZtcbhBCoV4@ep-delicate-truth-am4awg97.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require"


# NextAuth
NEXTAUTH_SECRET="k8mN2pX9vL4qR7wE1jH6uA3sD0tF5yB"
NEXTAUTH_URL="http://localhost:3000"

# Cloudinary (for file uploads)
CLOUDINARY_CLOUD_NAME="dv0rjcjfe"
CLOUDINARY_API_KEY="992843568554731"
CLOUDINARY_API_SECRET="dVPGiwBPwQOw3H892AqeCLjmLOk"

# testing 


# CLOUDINARY_CLOUD_NAME="dv0rjcjfe"
# CLOUDINARY_API_KEY="992843568554731"
# CLOUDINARY_API_SECRET="dVPGiwBPwQOw3H892AqeCLjmLOk"


# MongoDB Connection
# Get your MongoDB URI from MongoDB Atlas (https://www.mongodb.com/cloud/atlas)
# Format: mongodb+srv://username:password@cluster.mongodb.net/database?retryWrites=true&w=majority
# MONGODB_URI=mongodb+srv://your-username:your-password@your-cluster.mongodb.net/volks-david?retryWrites=true&w=majority